<head>
    
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    

  <title>ㅅㅁㅌ</title>

  <!--Css / Bootstrap Css-->
  <link rel="stylesheets" href="./food.scss" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <!--font-->
</head>

<!-- 상단 바 -->
  <!--%if user_signed_in?%-->
<nav>
    <div class="nav_main_first">
        <ul id="nav_main">
            <li id="menu0">ㅅㅁㅌ
            </li>
        </ul>
    </div>
    <%if user_signed_in?%>
    <div class="nav_main_second">        
        <ul id="nav_main">
             <li id="menu-1"></li>
            <li id="menu1">
                <a href="#Home">Home</a>
            </li>
            <li id="menu2">
                <a href="/recipe">Recipe</a>
            </li>
            <li id="menu4">
                <a href="/mypage">Mypage</a></a>
            </li>
            <li id="menu5">
              <a href="/ranking">Ranking page</a></a>
            </li>
             <li id="menu3">
               <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </li>
            
            <li id="menu+1">
            </li>
        </ul>
    </div>
    <%else %>
    
        <!--<ul id="nav_main">
            <li id="menu0"><span></span>ㅅㅁㅌ</li>-->
            <div class="nav_main_second">
            <ul id="nav_main">
             <li id="menu-1"></li>
            <li id="menu1">
                <a href="#Home">Home</a>
            </li>
            <li id="menu2">
                <a href="Search">Recipe</a></a>
            </li>
             <li id="menu5">
              <a href="/ranking">Ranking page</a></a>
            </li>
             <li id="menu3">
                <a href="/users/sign_in">log in</a>
            </li>
            <li id="menu+1">
            </li>
        </ul>
    </div>    
    
   <% end%>
</nav>
<body class="whole">
<div class= "Home">
    <br><br>
    <p class="subheading">술맛탱 X <span class="likelion">멋쟁이 사자처럼</span></p><br>
    <p id= "heading">술맛탱 at 신촌톤</p><br>
    <div class="introduction">
        <p class="intro"> </p>
         <span class="shinchon_ㅅㅁㅌ">"ㅅㅁㅌ"</span>은
         <br>
          <span class="alone_living">자취족</span>들을 위한
         <br>
         야식 레시피 추천 서비스를 제공합니다.
         <%=@info2%>
         <br>
    </div>
</div>

<div>




<%= link_to 'New Food', new_food_path %>

</div>
</body>